section{
	float:left;
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 33.33%;
}

footer{
	float:clear left;
	background-color: #dddddd;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

header{
	background-color: #dddddd;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#izquierda{
	background-color: orange;
}

#derecha{
	background-color: #11ff00;
}

#centro{
	background-color: #115522;
}
